@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-price: #BEE3CC;
  --sold-out: #ED735D;
  --popular: #F6C768;
  --titles: #FEF7EE;
  --bg-body: #111315;
  --bg-secondary: #1B1D1F;
  --text-description: #6F757C;
}

body {
  background: var(--bg-body)
}
